.home__contact {
    padding: 5rem 0;
    color: $gray-light;
    &-header {
        margin-bottom: 3rem;
    }
    // input styling
    input,
    select {
        transition: all 0.5s ease;
        &:focus {
            border-color: lighten($purple, 10);
            box-shadow: 0 1px 3px rgba($purple, 10);
        }
    }
    input,
    select,
    input[type=submit] {
        width: 100%;
    }
    // fake browser stuff
    .fake-browser {
        margin-bottom: -5rem;
    }
    .fake-browser-container {
        padding: 3rem 3rem 5rem 3rem;
    }
}