.home__work {
    // typography 
    p {
        color: $gray-dark;
        line-height: 25px;
    }
    // style the icons
    &-icons {
        width: $spacer * 4;
        height: $spacer * 4;
        border-radius: $spacer * 2;
        margin: 0 auto;
        background: $gray-light;
        @include media-breakpoint-up(sm) {
            margin-top: -5rem;
        }
        .fa {
            color: $white;
            display: none;
            top: 0.5rem;
            position: relative;
        }
        :first-child {
            display: block;
        }
    }
    // block styling
    .text-left,
    .text-right {
        padding-top: $spacer * 5;
        padding-bottom: $spacer * 5;
        img {
            width: 100%;
            opacity: 0.0;
        }
    }
    .text-right {
        padding-right: $spacer *4;
    }
    .text-left {
        padding-left: $spacer *4;
    }
    &-block-top {
        padding-top: $spacer * 10 !important;
    }
    &-block-bottom {
        padding-bottom: $spacer * 10 !important;
    }
}