.home__staff {
    transition: background 1s ease, background-image 1s ease-in-out;
    background: $gray-lighter;
    margin-top: 5rem;
    border-bottom: 10px solid $gray-lighter;
    // quick extra small fix
    .d-flex {
        @include media-breakpoint-down(sm) {
            flex-direction: column !important;
        }
    }
    &.night {
        background-color: #010F20;
        background: linear-gradient(lighten($purple-dark, 15), $purple-dark 94%);
        background-size: cover;
        font-family: $font-family-monospace;
        border-bottom: 10px solid darken(#25254C, 10);
        color: $white;
        p,
        h2,
        h3,
        h4,
        a,
        i,
        {
            color: $white;
        }
        &:before {
            background: lighten($purple-dark, 15);
        }
        .home__staff-bio {
            @include media-breakpoint-up(md) {
                border-right: 2px solid rgba($white, 7);
            }
        }
    }
    &-header {
        padding: 5rem 0 2rem 0;
    }
    &-images {
        img {
            width: 100%;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    .san-fran {
        img {
            @include media-breakpoint-down(sm) {
                display: block;
            }
        }
    }
    // bio styling
    &-bios {
        padding-top: 3rem;
        padding-bottom: 3rem;
        p {
            font-size: 13px;
        }
        .text-right {
            padding-right: 2rem;
            padding: 2rem;
        }
    }
    &-bio {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        @include media-breakpoint-up(md) {
            border-right: 2px solid $gray-light;
            padding-right: 2rem;
            padding-bottom: 26vh;
            margin-bottom: -34vh;
        }
    }
}