.btn {
    cursor: pointer;
    // primary styling
    &.btn-primary,
    &.btn-secondary {
        box-shadow: $btn-box-shadow;
        text-transform: uppercase;
        border: none;
        @include media-breakpoint-down(md) {
            margin: 0.5rem 0;
        }
    }
}

// ticker button
.button__two-tone {
    width: calc(100% + 20px * 2);
    padding: 10px 20px;
    margin: 0 0 30px -20px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    a {
        color: #FFF;
    }
    .button__two-tone-lead {
        background-color: rgba(#000032, 0.35);
        text-transform: uppercase;
        font-weight: 700;
        @include media-breakpoint-up(md) {
            border-radius: 1rem 0 0 1rem;
        }
    }
    .button__two-tone-text {
        @include media-breakpoint-up(md) {
            border-radius: 0 1rem 1rem 0;
        }
        background-color: rgba(#000032, 0.15);
    }
    .button__two-tone-lead,
    .button__two-tone-text {
        padding: 8px $spacer;
    }
}