// color classes
.teal {
    color: $teal;    
}

.purple {
    color: $purple;
}

// global styling
p {
    letter-spacing: $letter-spacing;
}

pre {
    display: flex !important;
    margin: 0 !important;
    height: auto !important;
    line-height: 18px;
}