.fake-browser-ui {
    padding: 20px 0 0;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(25,25,25,0.25);
    background: #ddd;
    display: inline-block;
    position: relative;
    line-height: 0;
    .frame {
        display: block;
        height: 15px;
        position: absolute;
        top: 5px;
        left: 1px;
    }
    span {
        height: 8px;
        width: 8px;
        border-radius: 8px;
        background-color: #eee;
        border: 1px solid #dadada;
        float: left;
        margin: 0 0 0 4px;
    }
}